html {
    box-sizing: border-box;
    background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(160deg, #aa7ecd 0%, #02ccba 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Monoton';
    font-weight: 200;
    font-size: 34px;
    margin: 0.2em;
    color: #ff6699;
}

/*Styles for the deck of cards*/
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #ffff99 0%, #ff6699 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #ffffff;
    font-size: 0;
    color: #ff6699;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #D200F7;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background:  #F5CEEC;
    font-size: 33px;
}
/*Style for the Score Panel*/
.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*Media query for responsiveness*/
@media screen and (max-width: 450px){
    header, .score-panel, .deck{
        display: flex;
        justify-content: space-between;
    }
    .deck{
    height: auto;
    max-width: 100%;
    }
}

/* Styles for modal backgroud
 Parts of the styles below are inspired from
 Source - https://matthewcranford.com/memory-game-walkthrough-part-7-making-a-modal/
 */
.modal_background {
    position: absolute;
    top :0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.363)
}
/* Styles for modal body*/
.modal_body{
    position: relative;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    border-style: solid;
    background: white;
    transform: translate(-50%, -70%);
}
/* Style to hide modal*/
.hide {
    display: none;
}
/* Style for modal heading elements*/
.modal_heading{
    text-align: center;
    padding-bottom: 1em;
}
/* Style for stats displayed in modal*/
.modal_stats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
/* Style for modal buttons*/
.modal_buttons{
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: 1em;
    display: flex;
}
.modal_cancel_button,.modal_replay_button {
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    padding: 0.25rem 0.25rem;
}
.modal_cancel_button{
    background: yellow;
}
.modal_replay_button{
    background: pink;
}
button:hover,
button:focus {
    background: #fefefe;
}
